<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LearnLive</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="page">
        <nav>
            <div style="display: flex; height: 100%;">
                <h1>LearnLive!</h1>
                <img class="logo" src="/icons/live.png" />
            </div>
        </nav>
        <main>
            @RenderBody()
        </main>    
    </div>
</body>
</html>
